# Google Maps JavaScript API key (Maps JavaScript API must be enabled on it).
# Get one at https://console.cloud.google.com/google/maps-apis/credentials
# Restrict it by HTTP referrer to the domain(s) you deploy this app to.
VITE_GOOGLE_MAPS_API_KEY=
